:root {
    --ion-color-black: #0D0D0D;
    --ion-color-white: #FFFFFF;
    --ion-color-orange: #EF7A00;


    --ion-background-color: var(--ion-color-black);
    --ion-text-color: var(--ion-color-white);
    /*--ion-toolbar-background: linear-gradient(180deg, #737373 0%, #0D0D0D 100%);*/

    --font-family-base: 'Poppins', sans-serif;

    --ion-color-primary: var(--ion-color-orange);
    /*--ion-color-secondary: var(--ion-color-green-default);*/


    ion-content {
        --ion-background-color: var(--ion-color-black);
    }

    ion-toolbar {
        padding: 0 10px;
        --ion-background-color: var(--ion-color-black);
    }


    ion-datetime {
        color: var(--ion-color-black);
        border-radius: 8px;
        
    }

    ion-datetime-button::part(native) {
        color: var(--ion-color-black);
    }


    .alert-radio-label {
        color: var(--ion-color-black);
        font-family: var(--font-family-base);

    }



    .alert-message, .alert-title {
        font-family: var(--font-family-base);
        color: var(--ion-color-black);
    }
}





